body{
    background-color: black; 
    color: white;
    font-family: sans-serif;   
}

.box{
    width: 50%;
    margin:  0 auto;
    font-size: 40px;
    text-align: center;
    /* background-color: whitesmoke; */
}

#inputl{
    width: 400px;
    padding: 20px 40px;
    border-radius: 10px;    
}

#btn{
    width: 150px;
    padding: 20px 0;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}   

#image{
    width: 400px;
    height: 400px;
    /* margin-top: 50px; */
    display: none;
    margin: 50px auto;
}